/*公用css*/
html { background:url(../images/loading5.gif) no-repeat center center}
a{text-decoration:none;color:#555;}
ul,li{list-style-type:none;}
ul,li{list-style:none;}
select,input,img,select{vertical-align:middle;}
img{border:0px;}
a{text-decoration:none;color:#069;}
body,input,button,select,textarea{color:#555;}
.center{clear:both;height:0px;line-height:0px;font-size:0px;}
.left{float:left;}
.right{float:right;}
.red{color:#c8000b;}
.fff{color:#fff;}
.fffa{color:#fff;}
.h30{height:30px;}
.h50{height:50px;}
.h70{height:70px;}
.clr:after{ zoom:1;}
.clr:after{ clear: both;display: block;visibility: hidden;overflow: hidden;content:"";height: 0;}
body * {+zoom:1}
/*
导航
 ul.nav.clr.J_nav>li>a[href=""]^ul.layer>(li>a[href=""]{xxxx})*4
*/
.nav{ background:#c8000b; height:36px}
.nav li{float:left; position: relative;top:0;left:0;height:37px;}
.nav li a{ color:#fff; display: block;  height:37px; line-height:37px;padding:0 20px;white-space:nowrap;}
.nav li a,.nav li:hover ul a{background:#c8000b;}
.nav li a:hover,.nav li:hover a,.nav li ul a:hover{ background:#a90009;}
.nav li ul{ display: none; height:auto;position: absolute;top:37px;left:0; background:#c8000b; }
.nav li ul li{ clear: both;float:none;min-width:107px}
.nav li ul li a{ display: block; clear: both;}
.nav li:hover ul{ display:block; box-shadow:rgba(0,0,0,0.5) 0px 4px 5px}
.J_nav{float:left;}
/*各行换色*/
.tr-odd{ background:#f6f6f6}
/*iss-table 表格控件*/
.isstable table{ table-layout: fixed; border-collapse:collapse;}
.isstable th,.isstable td{border:#ccc solid 1px;}
.isstable .isstable_left,.isstable .isstable_right{ float: left;}
.isstable .isstable_left th,.isstable .isstable_right th,
.isstable .isstable_left td,.isstable .isstable_right td{ border-top:none; height:25px; text-align: center;}
.isstable .isstable_right th,
.isstable .isstable_right td{ border-left:none}

/*弹出层*/
.ui-dialog-inner {
overflow:hidden
}
/*优化图片*/
.ui-dialog-close,.msc-dialog-tips-icon{background-image:url('../images/dialog-sprite-v1.png');background-repeat:no-repeat;}
/*弹出层*/
.ui-dialog-outer { text-align:left; outline:none;font-size:14px;position:relative;top:0;left:0}
.ui-dialog-border{ border:0 none; margin:0; border-collapse:collapse;}
.iss-upload_wap { position:relative;top:0;left:0; z-index:1000}
/*.ui-dialog-header, .ui-dialog-footer { padding:0; }*/
.ui-dialog-iframe .ui-dialog-content{height:100%; background:url(../images/loading5.gif) no-repeat center center; position:relative;top:0;left:0 }
/*标题栏*/
.ui-dialog-header{ /*position:relative;  height:36px;*/ }
.ui-dialog-title { overflow:hidden;cursor:default;height:36px; line-height:36px; padding:0 28px 0 20px;background:#c8000b url(../images/gb_17.png) no-repeat 10px center;color:#fff; text-indent:17px }
.ui-dialog-close{display:block; outline:none;background-position:left top;position: absolute;overflow:hidden;right: 10px;top: 10px;height: 18px;width: 18px;text-indent:-9999em;cursor:pointer; background-image: url(../images/x.png)}
.ui-dialog-close:hover{text-decoration:none;background-position:left bottom;}
/*loading*/
.ui-dialog-loading {width:80px;height: 50px;overflow: hidden;background: url('../images/loading-32-32.gif') no-repeat 30px center;line-height: 50px;padding-left: 80px;font-size: 16px;}
/*按钮组*/
.ui-dialog-buttons{padding:20px; text-align:center; white-space:nowrap;font-size:0;}
.ui-dialog-button{ margin-left:15px;cursor: pointer; display: inline-block; text-align: center;height:30px;line-height:30px;padding:0 24px;width:auto;border: 1px solid #ccc; border-radius: 2px; background-color:#fff;color:#666;outline:none;font-size:14px;}
.ui-dialog-buttons a:first-child{margin-left:0;}
.ui-dialog-button:hover{color:#666;background-color:#f3f3f3;}
/*无效按钮*/
.ui-dialog-button-disabled,.ui-dialog-button-disabled:hover,.ui-dialog-button-disabled:active{cursor:default;color:#666;background:#ddd;border-color:#999;filter:alpha(opacity=50); opacity:.5;text-decoration:none;}
/*高亮*/
.ui-dialog-button-on{background-color:#c8000b;color:#fff;border-color:#B20008;}
.ui-dialog-button-on:hover{background-color:#B20008;color:#fff;border-color:#c8000b;}
/*遮罩*/
.ui-dialog-mask { background-color:#000; filter:alpha(opacity=30); opacity:0.3; }
.ui-dialog-inner{background:#FFF;border:1px solid #bab0b8; }
/*没有标题*/
.ui-dialog-noTitle .ui-dialog-title { display:none; }
/*.ui-dialog-noTitle .ui-dialog-title-outer{height:16px;}*/
.ui-dialog-noTitle .ui-dialog-close {background-position:0 0;}
.ui-dialog-noTitle .ui-dialog-close:hover, .ui-dialog-noTitle .ui-dialog-close:active {background-position:0 -16px;}
/*视觉*/
@media screen and (min-width:0) {
    .ui-dialog-outer { -webkit-transform: scale(0); transform: scale(0); -webkit-transition: -webkit-transform .2s ease-in-out; transition: transform .2s ease-in-out; }
    .ui-dialog-visible .ui-dialog-outer{ -webkit-transform: scale(1); transform: scale(1); }
}
/*扩展开始*/
/*alert*/
.msc-dialog-alert .ui-dialog-content{text-align:center;padding-top:30px;padding-bottom:20px;}
.msc-dialog-alert .ui-dialog-noTitle .ui-dialog-content{padding-top:40px;}
.msc-dialog-alert .ui-dialog-content h3{font-size:16px;color:#111;}
.msc-dialog-alert .ui-dialog-content p{color:#999;font-size:12px;}
.msc-dialog-alert .ui-dialog-inner{border:none;}
/*简单提示*/
.msc-dialog-tips .ui-dialog-border{border-color:#ccc;}
.msc-dialog-tips .ui-dialog-content{padding:16px 30px 16px 38px;color:#333;}
.msc-dialog-tips .ui-dialog-title-outer{display:none;}
.msc-dialog-tips-icon{position:absolute;left:16px;top:20px;overflow:hidden;display:block;width:16px;height:16px;}
.msc-dialog-tips-success-icon{background-position:0 -110px;}
.msc-dialog-tips-warning-icon{background-position:0 -94px;}
.msc-dialog-tips-error-icon{background-position:0 -78px;}
/*loading*/
.msc-dialog-loading .ui-dialog-header{display:none;}
/*v6的吸附*/
.ui-dialog-top-left .ui-dialog-outer,
.ui-dialog-top .ui-dialog-outer,
.ui-dialog-top-right .ui-dialog-outer {
    top: -8px;
}
.ui-dialog-bottom-left .ui-dialog-outer,
.ui-dialog-bottom .ui-dialog-outer,
.ui-dialog-bottom-right .ui-dialog-outer {
    top: 8px;
}
.ui-dialog-left-top .ui-dialog-outer,
.ui-dialog-left .ui-dialog-outer,
.ui-dialog-left-bottom .ui-dialog-outer {
    left: -8px;
}
.ui-dialog-right-top .ui-dialog-outer,
.ui-dialog-right .ui-dialog-outer,
.ui-dialog-right-bottom .ui-dialog-outer {
    left: 8px;
}
.ui-dialog-arrow-a,
.ui-dialog-arrow-b {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    overflow:hidden;
    border:0 dashed transparent;
}
.ui-dialog-top-left .ui-dialog-arrow-a,
.ui-dialog-top .ui-dialog-arrow-a,
.ui-dialog-top-right .ui-dialog-arrow-a {
    bottom: -8px;
    border-top:8px solid #bab0b8;
    border-bottom:0 none;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
}
.ui-dialog-top-left .ui-dialog-arrow-b,
.ui-dialog-top .ui-dialog-arrow-b,
.ui-dialog-top-right .ui-dialog-arrow-b {
    bottom: -7px;
    border-top:8px solid #fff;
    border-bottom:0 none;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
}
.ui-dialog-top-left .ui-dialog-arrow-a,
.ui-dialog-top-left .ui-dialog-arrow-b  {
    left: 15px;
}
.ui-dialog-top .ui-dialog-arrow-a,
.ui-dialog-top .ui-dialog-arrow-b  {
    left: 50%;
    margin-left: -8px;
}
.ui-dialog-top-right .ui-dialog-arrow-a,
.ui-dialog-top-right .ui-dialog-arrow-b {
    right: 15px;
}
.ui-dialog-bottom-left .ui-dialog-arrow-a,
.ui-dialog-bottom .ui-dialog-arrow-a,
.ui-dialog-bottom-right .ui-dialog-arrow-a {
    top: -8px;
    border-bottom:8px solid #bab0b8;
    border-top:0 none;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
}
.ui-dialog-bottom-left .ui-dialog-arrow-b,
.ui-dialog-bottom .ui-dialog-arrow-b,
.ui-dialog-bottom-right .ui-dialog-arrow-b {
    top: -7px;
    border-bottom:8px solid #fff;
    border-top:0 none;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
}
.ui-dialog-bottom-left .ui-dialog-arrow-a,
.ui-dialog-bottom-left .ui-dialog-arrow-b {
    left: 15px;
}
.ui-dialog-bottom .ui-dialog-arrow-a,
.ui-dialog-bottom .ui-dialog-arrow-b {
    margin-left: -8px;
    left: 50%;
}
.ui-dialog-bottom-right .ui-dialog-arrow-a,
.ui-dialog-bottom-right .ui-dialog-arrow-b {
    right: 15px;
}
.ui-dialog-left-top .ui-dialog-arrow-a,
.ui-dialog-left .ui-dialog-arrow-a,
.ui-dialog-left-bottom .ui-dialog-arrow-a {
    right: -8px;
    border-left:8px solid #bab0b8;
    border-right:0 none;
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
}
.ui-dialog-left-top .ui-dialog-arrow-b,
.ui-dialog-left .ui-dialog-arrow-b,
.ui-dialog-left-bottom .ui-dialog-arrow-b {
    right: -7px;
    border-left:8px solid #fff;
    border-right:0 none;
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
}
.ui-dialog-left-top .ui-dialog-arrow-a,
.ui-dialog-left-top .ui-dialog-arrow-b {
    top: 15px;
}
.ui-dialog-left .ui-dialog-arrow-a,
.ui-dialog-left .ui-dialog-arrow-b {
    margin-top: -8px;
    top: 50%;
}
.ui-dialog-left-bottom .ui-dialog-arrow-a,
.ui-dialog-left-bottom .ui-dialog-arrow-b {
    bottom: 15px;
}
.ui-dialog-right-top .ui-dialog-arrow-a,
.ui-dialog-right .ui-dialog-arrow-a,
.ui-dialog-right-bottom .ui-dialog-arrow-a {
    left: -8px;
    border-right:8px solid #bab0b8;
    border-left:0 none;
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
}
.ui-dialog-right-top .ui-dialog-arrow-b,
.ui-dialog-right .ui-dialog-arrow-b,
.ui-dialog-right-bottom .ui-dialog-arrow-b {
    left: -7px;
    border-right:8px solid #fff;
    border-left:0 none;
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
}
.ui-dialog-right-top .ui-dialog-arrow-a,
.ui-dialog-right-top .ui-dialog-arrow-b {
    top: 15px;
}
.ui-dialog-right .ui-dialog-arrow-a,
.ui-dialog-right .ui-dialog-arrow-b {
    margin-top: -8px;
    top: 50%;
}
.ui-dialog-right-bottom .ui-dialog-arrow-a,
.ui-dialog-right-bottom .ui-dialog-arrow-b {
    bottom: 15px;
}

/*翻页标签*/
.iss-tabs{ border:#d4d4d4 solid 1px; border-top:none; position: relative;top:0;left:0;}
.iss-tabs .iss-tabs-nav{font-size:0; display: block; background:#f4f4f4; height: 34px; ;border-bottom:#d4d4d4 solid 1px;border-top:#d4d4d4 solid 1px; }
.iss-tabs .iss-tabs-nav li{ display: inline-block; font-size:14px; padding:0 20px; ;cursor:pointer;  ; +zoom:1;+display: inline; height: 34px; line-height:35px ;position:relative;top:-1px; left:-1px; } 
.iss-tabs .iss-tabs-nav li.on{ border-top:2px #c00 solid; height: 34px;  padding:0 19px ;background:#fff;  border-right:#d4d4d4 solid 1px;border-left:#d4d4d4 solid 1px; color:#c00 }
.iss-tabs .iss_tabls_child{  padding:10px; display:none;background: #fff; position:relative;top:0;left:0}
.iss-tabs .iss_tabls_child.on{display: block;}
.iss-tabs .iss_tabls_child .more{ position:absolute;top:-25px;right:20px; color:#c8000b; font-size:14px;}
.iss-tabs .iss_tabls_child .more a{ color:#c8000b; margin-left:10px}


/*滚动图*/
.iss-unslider { position: relative; overflow: auto; top:0;left: 0; padding-bottom:10px }
.iss-unslider li { list-style: none; position:relative;top:0;left:0; }
.iss-unslider li p{ position:absolute;bottom:0;left:0;height:40px; background:#000; color:#fff; padding:0 10px;line-height:40px;width:100%;opacity:0.7}
.iss-unslider ul{ z-index:10; overflow: hidden;}
.iss-unslider ul li { float: left; }
.iss-unslider .dots{height:30px; margin-top:-30px; text-align: right; position:relative;z-index:1000; margin-right:10px}
.iss-unslider .dots li{width:10px; height:10px;  line-height: 10px; text-align: center; cursor: pointer; margin:0 3px; display: inline-block; +zoom:1; +display:inline;  border-radius:50%; background:#fafafa }
.iss-unslider .dots li.active{ background:#ff9205;color: #fff;}
/*iss-formTable*/
.iss-formTable .iss-formtable-parent{ overflow: hidden;}
.iss-formTable .iss-formtable-parent .iss-formtable-box,.iss-left{ float: left;}
.iss-formTable .iss-formtable-parent .iss-right{ float:right; font-size:0}
.iss-formTable .iss-formtable-parent .iss-right span{ display:inline-block; +display:inline; +zoom:1; font-size:14px; width:120px; border-left:#ccc dotted 1px; background:#fff; height:28px; line-height:28px;text-align: center;;}
.iss-formTable .iss-formtable-parent .iss-right span.desc{ text-align:left; text-indent:2px}
.iss-formTable{ border:#ccc solid 1px; font-size:14px}
.iss-formTable .iss-formtable-head{ overflow: hidden; background:#ebebeb}
.iss-formTable .iss-formtable-head span.iss-left,
.iss-formTable .iss-formtable-head span.iss-right{ display: block; height:30px; font-size:14px; font-weight: bold;line-height:30px;}
.iss-formTable .iss-formtable-head span.iss-left{float: left; text-indent:40px}
.iss-formTable .iss-formtable-head span.iss-right{float: right; border-left:#ccc dotted 1px; text-align: center;}
.iss-formtable-input{ padding:0; margin:0;  border:none; background:#fafafa; width:100%; height:18px;padding:3px; }
.iss-formTable .iss-formtable-parent{ background:#fafafa}
.iss-formTable .iss-formtable-child .iss-formtable-parent{ background:#fff;}
.iss-formTable .iss-formtable-child .iss-formtable-name{ }
.iss-formTable .iss-formtable-child .iss-formtable-parent:hover{ background:#ffe48d }
.iss-formTable .iss-formtable-child .iss-formtable-parent .iss-lastbox:hover{ background:#fff5d3;}
.iss-formTable .iss-formtable-child .iss-formtable-parent .iss-lastbox:hover span{ background:#fff5d3;}

.iss-formTable p,.iss-formTable span{ height:28px; line-height:28px;}
.iss-formTable span input{ padding:0; height:28px}
.iss-formtable-name{ font-size:14px}
.iss-formtable-parent{ border-top:#ccc dotted 1px;}
.iss-formtable-name-0{ font-weight: bold;}
.iss-formtable-name-0{ text-indent:40px; }
.iss-formtable-name-1{ text-indent:80px }
.iss-formtable-name-2{ text-indent:100px }
.iss-formtable-name-3{ text-indent:140px }
.iss-formtable-name-4{ text-indent:180px}
.iss-formtable-name-5{ text-indent:220px}
.iss-formtable-name-6{ text-indent:260px}
.iss-formTable .iss-formtable-head span.iss-right,
.iss-formTable .iss-formtable-parent .iss-right span { width:120px; overflow:hidden}
.iss-formTable .iss-formtable-parent .iss-right span.step6,.iss-formTable .iss-formtable-head span.step6 { width:200px}

/*iss-valid表单验证*/
/*loading*/
.iss-loading { padding:20px 0; /*background:url(../images/loading5.gif) no-repeat center center*/}

.index_r_d{font-size:14px;}
.index_r_d td{ border-bottom:1px dashed #eee; line-height:32px; padding-left:5px;}
.index_r_d a{color:#555;}
.index_r_d a:hover{color:#e75302;}
/*收缩框*/
.iss-slideBox { position:absolute;top:0;left:0;}
.iss-wap-slideBox { position:relative;top:0;left:0;}
.iss-wap-slideBox .iss-slideBox-bar { position:absolute;top:50%;right:100%;width:50px;height:100px;background:#fff;}